@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                         #ecf0f1;
$font-family-sans-serif:          'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:     			  45px;
$navbar-default-bg:		          #27ae60;
$navbar-default-brand-color:      #fff;
$brand-primary:                   #27ae60;
$jumbotron-bg:                    white;
$warning-color:					  #c0392b;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.btn-warning {
	background-color: $warning-color;
	border-color: $warning-color;
}

#user_remember_me {
	margin-left: 0px;
}